RPC_URL=https://sepolia.base.org
ESCROW_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
ORACLE_PRIVATE_KEY=0xreplace
ADMIN_API_TOKEN=replace
APP_ATTEST_MODE=disabled
DEV_ATTEST_TOKEN=replace-only-when-using-mock-attestation
CHAIN_ID=84532
